server:
  port: 80

spring:
  application:
    name: cloud-order-feign-hystrix-server

eureka:
  client:
    #表示是否将自己注册进EurekaServer默认为true
    register-with-eureka: true
    fetch-registry: true
    service-url:
      #defaultZone: http://locahost:7001/eureka
      defaultZone: http://eureka7001.com:7001/eureka,http://eureka7002.com:7002/eureka

ribbon:
  ConnectTimeout: 5000
  ReadTimeout: 5000

feign:
  hystrix:
    enabled: true #在feign中开启hystrix